<%

	seo.title = "About Us";

%>

<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include include/seo/standard.ejs %>
	<% include include/head.ejs %>

	<style>
	
		.posts {

			margin-bottom: 20px;

		}

	</style>

</head>
<body>

	<% include include/menu.ejs %>

	<main>

		<div class="titled_section">

			<span class="title">About</span>

			<div class="text">

				<%- pages.title("About").fields.content %>

			</div>

			<% for (const role of ["executive", "lead", "staff", "contributor"]) { %>

				<div class="posts">

					<div class="large_text">

						<div class="body">

							<div class="titles">

								<span class="title"><%- capitalize(role) + (role !== "staff" ? "s" : "") %></span>

							</div>

							<div class="actions">

								

							</div>

						</div>

					</div>

					<% for (const profile of profiles.role(role)) { %>

						<div class="interactive">

							<div class="body">

								<div class="titles">

									<span class="title"><%- profile.fields.title %></span>
									<span class="subtitle"><%- profile.fields.banner %></span>

								</div>

								<div class="body">

									<%- profile.fields.description %>

								</div>

								<div class="actions">

									

								</div>

							</div>

						</div>

					<% } %>

				</div>

			<% } %>

			</div>

		</div>

	</main>

	<% include include/footer.ejs %>

</body>
</html>
