<%

	const article = posts.slug(params.slug);
	seo.title = article.fields.title;

%>

<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include include/seo/standard.ejs %>
	<% include include/head.ejs %>

</head>
<body>

	<% include include/menu.ejs %>

	<main>

		<% if (article.fields.thumbnail) { %>
		
			<div style="background-image: url('<%- url(article.fields.thumbnail) %>'); background-position: center; width: 100%; height: 400px; background-repeat: no-repeat;"></div>
		
		<% } %>

		<div id="post">

			<span class="pretitle"><%- article.fields.authors %> - <%- article.fields.release_date %></span>
			<span class="title"><%- article.fields.title %></span>
			<span class="subtitle"><%- article.fields.subtitle %></span>

			<div class="body">

				<%- article.fields.content %>

			</div>

		</div>

	</main>

	<% include include/footer.ejs %>

</body>
</html>
