<%

	seo.title = "Featured Articles";

%>

<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include include/seo/standard.ejs %>
	<% include include/head.ejs %>

</head>
<body>
	
	<% include include/menu.ejs %>

	<div class="main">

		<div class="section fullscreen dark split half_split" style="overflow: hidden;">

			<div>

				<h2 style="font-size: 45pt;">The Snitch is <i>empowering modern journalism</i></h2>

			</div>

			<div>

				<img src="img/mascot.jpg" style="width: 75%;">

			</div>

		</div>

		<div class="section">

			<h1>Featured Articles</h1>

		</div>

		<div class="articles">

			<% for (const article of sortByDate(posts.category("featured").slice(0, 10000))) { %>

				<a href="/article/<%- article.fields.slug %>">

					<div class="body">

						<p><strong><%- article.fields.authors %> &mdash; <%- article.fields.release_date %></strong></p>
						<h2 class="title"><%- article.fields.title %></h2>
						<h3 class="subtitle"><%- article.fields.subtitle %></h3>

					</div>

				</a>

			<% } %>

		</div>

	</div>

	<% include include/footer.ejs %>

</body>
</html>
