<%

	seo.title = "Politics";

%>

<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include include/seo/standard.ejs %>
	<% include include/head.ejs %>

</head>
<body>
	
	<% include include/menu.ejs %>

	<div class="main">

		<div class="section">

			<h1>Politics</h1>

		</div>

		<div class="articles">

			<% for (const article of sortByDate(posts.category("politics").slice(0, 10000))) { %>

				<a href="/article/<%- article.fields.slug %>">

					<div class="body">

						<p><strong><%- article.fields.authors %> &mdash; <%- article.fields.release_date %></strong></p>
						<h2 class="title"><%- article.fields.title %></h2>
						<h3 class="subtitle"><%- article.fields.subtitle %></h3>

					</div>

				</a>

			<% } %>

		</div>

	</div>

	<% include include/footer.ejs %>

</body>
</html>
